.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #87a2ac;
  color: #242D33;
}

.App header {
  padding: 10px;
  display: flex;
  margin: 0;
  position: fixed;
  color: #242D33;
  width: calc(100vw - 20px);
}

.App header input {
  flex-grow: 1;
  padding: 3px;
  font-size: 16px;
  color: #242D33;
  font-family: monospace;
}

.App header button {
  font-size: 16px;
  color: #242D33;
}


.App pre {
  margin: 50px 0 0;
  flex-grow: 1;
  padding: 10px;
  background: #242d33;
  color: #6e9cbe;
  font-size: 16px;
}

.App footer {
  display: flex;
  padding: 10px;
}

.App footer input {
  font-size: 16px;
  flex-grow: 1;
  color: #242D33;
}

.App footer label {
  padding: 0 10px;
  line-height: 24px;
  font-weight: 800;
  color: #FFFFFF;
}
